method: 'base'
seeds: 
  - 1480
  - 1000
  - 256
  - 2943
  - 199
t5:
  pretrained_model_name_or_path: 'QizhiPei/biot5-plus-base'
lr:
  backbone: 3e-5
trainer:
  epochs: 5
  batch_size: 32
  grad_accum: 1
  num_workers: 4
  cuda: true
  strategy: 'fsdp'
  num_devices: 4
  warmup_ratio: 0.01
  precision: '32'
  dataset_name: 'chebi-20'
  output_folder: 'weights/'
optuna:
  use_optuna: false
  n_trials: 10
project:
  name: 'LexiChem-Base-ChEBI20'